<pool type='dir'>
  <name>{{iso_image_pool_name}}_{{item}}</name>
  <source>
  </source>
  <target>
    <path>{{iso_image_dir}}/{{item}}</path>
    <permissions>
      <mode>0755</mode>
      <owner>0</owner>
      <group>0</group>
      <label>unconfined_u:object_r:usr_t:s0</label>
    </permissions>
  </target>
</pool>
